body {
    box-sizing: border-box;
}

.intro-image {
    /* Intro Image */
    width: 100%;
    height: 339px;
    background: url("./pictures/Intro\ Image.png");
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

/* styling for content in section1 */

.welcome-content {
    background-color: #F7EDE3;
    padding: 50px;
    height: 280px;
    margin-bottom: 10px;
}

.welcome-content-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    font-feature-settings: 'cpsp' on;
    color: #000000;
}

.welcome-content-group p {
    font-family: 'Roboto';
    font-style: normal;
    text-align: justify;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    font-feature-settings: 'cpsp' on;
    color: #000000;
    margin-bottom: 25px;
}


/* styling for buttons*/

.button-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.welcome-content-button {
    width: 257px;
    height: 49px;
    background: #D9D9D9;
    border-radius: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: capitalize;
}

.welcome-content-button:hover {
    background-color: white;
    cursor: pointer;
}


/* styling for content in section3 */
.icons-container {
    margin: 50px 10%;
    background: white;
    box-shadow: 2px 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.icon-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.plummbing {
    width: 100px;
    height: 103px;
    background: url("./pictures/plumbing.png");
}

.electrical {
    width: 97px;
    height: 103px;
    background: url("./pictures/electrical\ works.png");
}

.aircon {
    width: 100px;
    height: 103px;
    background: url("./pictures/aircon\ servicing.png");
}

.window {
    width: 102px;
    height: 103px;
    background: url("./pictures/window\ repair.png");
}

.painting {
    width: 100px;
    height: 103px;
    background: url("./pictures/paint-roller.png");
}

.others {
    width: 95px;
    height: 97px;
    background: url("./pictures/other\ repair.png");
}

/* styling for section 4*/

.section-4-header {
    /* How to Book? */
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 48px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.section-4-line-icons-group {
    width: 1290px;
    margin: 0 auto;
}

.section-4-line {
    position: relative;
    top: 90px;
    z-index: -1;
    height: 18px;
    background-color: lightgray;
    border-radius: 18px;
}

.section-4-icons {
    display: flex;
    justify-content: space-between;
}

.section-4-icons-des {
    display: flex;
    justify-content: space-between;
}

.section-4-icon-des {
    margin: 10px;
    width: 160px;
    text-align: center;
}

.section-4-icon-des-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;

}

.section-4-icon {
    display: flex;
    width: 160px;
    height: 160px;
    background: #F7EDE3;
    border-radius: 50%;

}

.section-4-icon-1 {
    margin: 20% 28%;
    width: 152px;
    height: 152px;
    background: url("./pictures/Selecticon.png");
    background-repeat: no-repeat;
}

.section-4-icon-2 {
    margin: 20% 20%;
    width: 152px;
    height: 152px;
    background: url("./pictures/quotation.png");
    background-repeat: no-repeat;
}

.section-4-icon-3 {
    margin: 20% 22%;
    width: 152px;
    height: 152px;
    background: url("./pictures/shopping-bag.png");
    background-repeat: no-repeat;
}

.section-4-icon-4 {
    margin: 20% 22%;
    width: 152px;
    height: 152px;
    background: url("./pictures/payicon.png");
    background-repeat: no-repeat;
}

.section-4-icon-5 {
    margin: 22% 22%;
    width: 152px;
    height: 152px;
    background: url("./pictures/reviewicon.png");
    background-repeat: no-repeat;
}


/* styling for section 5*/

.section-5-header {
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    margin-top: 30px;
    padding: 10px;
}

.section-5-container {
    background-color: #F7EDE3;
}


.section-5-info-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
}


.section-5-container p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    letter-spacing: 0.05em;
    text-transform: capitalize;
}

.section-5-info {
    width: 65%;
}

.section-5-image {
    width: 550px;
    height: 500px;
    background: url("./pictures/DIY\ image\ 1.png");
}


.section-5-button-group {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}


.section-5-button {
    width: 257px;
    height: 49px;
    background: #D9D9D9;
    border-radius: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: capitalize;
}

.section-5-button:hover {
    background-color: white;
    cursor: pointer;
}
